html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(25rem, 1rem));
  grid-gap: 3rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 3rem;
}

.pageContainer {
  height: 100%;
  padding: 0 50px;
}
